<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- CSS correto -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Cadastro.css') }}">

    <!-- JS correto -->
    <script src="{{ url_for('static', filename='Interface-Cadastro/script.js') }}"></script>
</head>

<body>
    <div class="main-Cadastro">
        <div class="left-Cadastro">
            <h1>Faça seu Cadastro</h1>
            <!-- Imagem correta -->
            <img src="{{ url_for('static', filename='image/logo_abelha.png') }}" class="left-Cadastro-img" alt="img-Cadastro">
        </div>
        <div class="right-Cadastro">

            <!-- Formulário com POST e action correta -->
            <form class="r-card-Cadastro" method="POST" action="{{ url_for('cadastro') }}">
                <h1>Cadastro</h1>
                <div class="textfield">
                    <label for="usuario">Usuário/email</label>
                    <input type="text" name="username" placeholder="Usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="password" placeholder="Senha">
                </div>
                <div class="textfield">
                    <label for="confirm_password">Confirmar senha</label>
                    <input type="password" name="confirm_password" placeholder="Confirme a senha">
                </div>
                <button class="btn-cadastro" id="btn-cadastro" type="submit">Cadastrar</button>

                <!-- Link para login -->
                <a href="{{ url_for('login') }}">Já possui uma conta?</a>
            </form>

        </div>
    </div>
</body>

</html>
